.search{
    width: 30rem;
}

.search input{
    width: 30rem;
    height: 2.25rem;
    border-radius: 5px;
    /* outline: rgb(252, 115, 36); */
    border: none;
    box-shadow: 0px 5px 5px rgba(57, 57, 57, 0.703);
    padding: 1rem;
}

.search input:focus{
    outline: 3px solid rgb(236, 176, 99);
}

